<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Query interface</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Query Interface</a>
    </nav>

    <main class="container">
      <div class="header">
      </div>
      <form class="form-group row" action="/query">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="q" placeholder="" aria-label="search field" aria-describedby="button-addon1" value="{{ query if query is not none }}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Search</button>
          </div>  
        </div>
      </form>
      <div class="container">
        {% if data is not none %}
          {% if data|length == 0 %}
            <p>No Result</p>
          {% else %}
            {% for i in data %}
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{ i["title"] }}</h4>
                <p class="card-text">{{ i["abstract"] }}</p>
                <p>{{ i["doi"] }}</p>
                <a href="{{ i['url'] }}" class="btn btn-primary">Download</a>
              </div>
            </div>
            {% endfor %}
          {% endif %}
        {% endif %}
      </div>
   </main>
  </body>
</html>