<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSPARQL-bioRxiv</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">CSPARQL-bioRxiv</a>
    </nav>

    <main class="container">
      <div class="header">
      </div>
      <div id="search-bar"></div>
      <div class="container">
        {% if data is not none %}
          {% if data|length == 0 %}
            <p>No papers found</p>
          {% else %}
            {{ pagination.info }}
            {% for i in data %}
            <div class="card">
              <div class="card-body">
                <a href="https://{{ i['url'] }}"><h4 class="card-title">{{ i['title'] }}</h4></a>
                <small>{{ i['authors'] }} {{ "("+i['year']+")" if i['year'] }}  D: <a href="https://doi.org/{{ i['doi'] }}">{{ i['doi'] }}</a></small>
                <p class="card-text">{{ i["abstract"]|truncate(280,true) }}</p>
              </div>
            </div>
            {% endfor %}
            <br />
            {{ pagination.links }}
          {% endif %}
        {% endif %}
      </div>
   </main>

   <script src="{{ url_for('static', filename='js/react.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/react-dom.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/JSXTransformer.js') }}"></script>
   <script type="text/jsx">

     /*** @jsx React.DOM */
     const search_items = {{ properties|tojson }};
     var Builder = React.createClass({
      render: function() {
        return (
          <div className="input-group mb-3 row">
            <div className="mx-auto my-auto">
              <h5>Query Interface</h5>
              {this.props.queryList.map((query, index) => {
                return (
                    <div className="d-flex" key={index}>
                        <select className="custom-select form-control" id="inputGroupSelect01" value={query[0]} onChange={event => this.props.updateQueryList(index, "type", event.target.value)}>
                            {search_items.map((search_item, search_item_index) => 
                                <option key={search_item_index} value={search_item}>{search_item}</option>
                            )}
                        </select>
                        <input type="text" className="form-control search-query" value={query[1]} onChange={ event => this.props.updateQueryList(index, "text", event.target.value)} />
                        { index !== 0 && <button className="btn btn-outline-secondary" type="button" id="button-addon1" onClick={() => this.props.removeQueryList(index)}><i className="fa fa-minus"></i></button>}
                        { (index === this.props.queryList.length - 1) && <button className="btn btn-outline-secondary" type="button" id="button-addon1" onClick={() => this.props.addQueryList()}><i className="fa fa-plus"></i></button>}
                    </div>
                )
              })}
            </div>
          </div>
        );
      }
    })

    var App = React.createClass({
      getInitialState: function() {
        let query = "{{ query if query is not none }}";
        let queryList = query.split(" ").map(item => {
          items = item.split(":");
          if (search_items.indexOf(items[0]) < 0) {
            items[0] = search_items[0];
          }
          if (items[1] === undefined) {
            items[1] = "";
          }
          return items;
        });
        if (queryList.length === 0) {
          queryList = [[search_items[0], ""]]
        }
        return {
          query,
          advance: true,
          queryList
        }
      },

      updateQueryList: function(index, type, content) {
        let queryList = this.state.queryList;
        if (type === "type") {
          queryList[index][0] = content;
        } else {
          queryList[index][1] = content;
        }
        this.setState({queryList});
        this.updateAdvancedQuery(queryList);
      },

      removeQueryList: function(index) {
        let queryList = this.state.queryList.filter((n, i) => i !== index);
        this.setState({queryList});
        this.updateAdvancedQuery(queryList);
      },

      addQueryList: function() {
        let queryList = this.state.queryList.concat([[search_items[0], ""]]);
        this.setState({queryList });
        this.updateAdvancedQuery(queryList);
      },

      updateValue: function(value) {
        this.setState({query: value});
      },

      updateAdvancedQuery: function(queryList) {
        let advancedQuery = queryList.filter(item => item[1] !== "").map(query => `${query[0]}:${query[1]}`).join(" ");
        this.setState({query: advancedQuery});
      },

      render: function() {
        return (
          <div className="App">
            <form className="form-group row" action="/query">
              <div className="input-group mb-3">
                <input type="text" className="form-control" name="q" placeholder="use keywords such as: hasDoi:10.1000/182" aria-label="search field"  aria-describedby="button-addon1" value={this.state.query} onChange={event => this.updateValue(event.target.value)} />
                <div className="input-group-append">
                  <button className="btn btn-outline-secondary" type="submit" id="button-addon1"><i className="fa fa-search"></i></button>
                </div>
              </div>
              { this.state.advance && <Builder queryList={this.state.queryList} addQueryList={this.addQueryList} removeQueryList={this.removeQueryList} updateQueryList={this.updateQueryList} /> }
            </form>
          </div>
        );
      }
    })

     ReactDOM.render(
       React.createElement(App, null),
       document.getElementById('search-bar')
     )

   </script>
  </body>
</html>
